.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.card{
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 10px;
}

.form-wrap{
  width: 100%;
  display: flex;
  position: relative;
}

input{
  margin: 20px 0;
  width: 100%;
  max-width: 100%;
  border: 2px solid #cccccc;
  border-radius: 4px;
  padding: 10px 15px;
  display: block;
  font-size: 16px;
  &:focus{
    border-color:  #4685c9;
    outline: #4685c9;
    box-shadow: 0px 0px 7px 0px rgba(70,133,201,1);
  }
}

.box{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  &__group{
    display: flex;
    align-items: center;
  }
}
